@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    color: white;
}


/* shared class...  */


.allura{
    font-family: "Allura", cursive;
}

.inter{
    font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
}
.p-color{
    color: rgba(255, 255, 255, 0.5);
}
.btn{
    background-color: #E6533C;
    padding: 12px 40px;
    border-radius: 42px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}



header{
    background: linear-gradient(rgba(57, 57, 57, 0.192), rgba(142, 142, 142, 0.345), black);
}
nav{
    /* background-color: lightcoral; */
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
    padding: 30px 0px;
}
nav .logo h1{
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    color: #E6533C;
}
nav ul{
    border: 1px solid rgba(255, 255, 255, 0.150);
    width: 45%;
    padding: 10px 3px;
    border-radius: 40px;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    /* margin-left: 40px; */
    height: 100%;
}
nav ul li .home{
    background-color: #E6533C;
    border-radius: 46px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 7px 15px;
}



/* hero section is starting...  */
.hero-section{
    /* background-color: rgb(175, 123, 131); */
    max-width: 1100px;
    margin: 50px auto;
    align-items: center;
}
.hero-section .left{
    width: 50%;
}
.hero-section .left h1{
    font-size: 78px;
}
.hero-section .left p{
    margin: 20px 0px;
}
.hero-section .left .hero-btn{
    margin-top: 30px;
}
.hero-section .left .hero-btn a{
    margin-right: 10px;
}
.hero-section .right{
    width: 50%;
    /* background-color: gray; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .right .workout{
    position: absolute;
    top: 100px;
    right: 40px;
    background-color: rgba(255, 255, 255, 0.17);
    width: 40%;
    height: 20%;
    padding: 25px 30px;
    border-radius: 12px;
    backdrop-filter: blur(2px);
}
.workout .card h1{
    font-size: 40px;
}
.workout .card p{
    font-size: 13px;
}
.hero-section .right .tutorial{
    position: absolute;
    bottom: 100px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.17);
    width: 40%;
    height: 20%;
    padding: 35px 30px;
    border-radius: 12px;
    backdrop-filter: blur(2px);
}
.hero-section .right .tutorial .card{
    align-items: center;
    gap: 10px;
}
.tutorial .card h1{
    font-size: 24px;
}
.tutorial .card p{
    font-size: 16px;
}
.hero-section .right .tutorial .card .small-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}